/*
Error: Invalid CSS after "    text-indent:": expected expression (e.g. 1px, bold), was ";"
        on line 160 of sass/style.scss

155:     background-image: url(./images/white_arrow_icon-01.png);
156:     background-position: center center;
157:     background-repeat: no-repeat;
158:     background-size: cover;
159:     cursor: pointer;
160:     text-indent:;
161:   }
162: }
163: 
164: #about {
165:   background-color:#FFF;

Backtrace:
sass/style.scss:160
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:1163:in `expected'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/script/lexer.rb:220:in `expected!'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/script/parser.rb:572:in `assert_expr'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/script/parser.rb:62:in `parse'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:1025:in `sass_script'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:878:in `value!'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:1139:in `call'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:1139:in `rethrow'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:766:in `try_declaration'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:661:in `block_child'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:642:in `block'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:661:in `block_child'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:642:in `block'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:660:in `block_child'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:42:in `parse'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/engine.rb:393:in `_to_tree'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/slamflipstrom/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    text-indent:\": expected expression (e.g. 1px, bold), was \";\"\A         on line 160 of sass/style.scss\A \A 155:     background-image: url(./images/white_arrow_icon-01.png);\A 156:     background-position: center center;\A 157:     background-repeat: no-repeat;\A 158:     background-size: cover;\A 159:     cursor: pointer;\A 160:     text-indent:;\A 161:   }\A 162: }\A 163: \A 164: #about {\A 165:   background-color:#FFF;"; }
